/* 

Your swatches or image thumbnails that you want to allow the user to click on to change the current product variant displayed in the 
media section (product images) and update quantities, etc authentically (as though the user actually changed the variant by clicking on the <select>) 
as well as the behaviour of the Add to Cart button. 

These are just example of two color variants that you might have. 

There are hackier ways to do this, but here we want to maintain the product variant change functionality in its totality (not just change the image)

*/

<div class="Variant_Black"></div>
<div class="Variant_White"></div>

/* You'll have to find the product variant <select> drop down which might look like this and take a note of the identifier after id=" in this case it is "SingleOptionSelector-0". */

<div class="product-form__controls-group">
     <div class="selector-wrapper js product-form__item">
         <select class="single-option-selector single-option-selector-product-template product-form__input"
            id="SingleOptionSelector-0"
            data-index="option1">
              <option value="Back" selected="selected">Black</option>
              <option value="White">White</option>
         </select>
     </div>
</div>
